*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,body{
    weight:100%;
    height: 100%;
}

body{
    overflow-x: hidden;
}

/* #page1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: lightblue;
}

#page2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(79, 186, 221);
    flex-direction: column;
    gap: 50px;
}
h1{
    font-size: 60px;
    
    background-color: red;
    padding: 30px;

}

h2{

    font-size: 60px;
    
    background-color: yellow;
    padding: 30px;

}

#page3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(22, 172, 223);
}

#box{
    width: 100px;
    height: 100px;
    background-color: crimson;
} */

#page1{
    width: 100%;
    height: 100%;
    background-color: black;
} 


#page2{
    width: 100%;
    height: 100%;
    background-color: rgb(153, 200, 238);
}


#page3{
    width: 100%;
    height: 100%;
    background-color: black
}

#page2 h1{
    font-size: 35vw;
    text-transform: uppercase;
    font-weight: 600;
    white-space: noWrap;

} 